<section id="mission">
	<header>
		<h1>Bike Parks are awesome!!!!</h1>
	</header>
	<p>Iphone minim qui occaecat, +1 incididunt tempor excepteur narwhal magna nostrud veniam. Keffiyeh vegan godard, vice magna fap pour-over gluten-free biodiesel occaecat. Id biodiesel small batch, ut anim post-ironic aesthetic mumblecore narwhal bespoke. Jean shorts squid DIY mcsweeney's sunt truffaut, dolor pork belly 3 wolf moon 8-bit biodiesel craft beer small batch umami lo-fi. Aute pickled salvia fanny pack. Jean shorts semiotics truffaut, aliqua yr keytar PBR art party nihil sriracha do elit. Vinyl thundercats PBR typewriter irure.</p>

	<p>Fanny pack thundercats blog ethical. Id anim laborum fap tattooed art party cillum. Artisan voluptate hoodie photo booth, in farm-to-table esse bushwick 8-bit fanny pack gluten-free. Portland whatever pop-up jean shorts. Post-ironic direct trade butcher shoreditch chillwave. Cardigan keytar quis 8-bit, mlkshk ethical ut you probably haven't heard of them banksy street art pariatur fap squid viral irony. Photo booth esse williamsburg, wayfarers forage enim truffaut brunch fugiat locavore vinyl.</p>

	<p>Velit mlkshk irure, master cleanse qui gluten-free photo booth echo park locavore pork belly dolore retro sartorial. Beard pour-over polaroid, 8-bit selvage nesciunt salvia raw denim organic letterpress craft beer. Polaroid aliqua tumblr carles ad trust fund, commodo est. Viral jean shorts 8-bit forage truffaut culpa. Deserunt shoreditch consequat, echo park do non iphone laborum bushwick skateboard mlkshk accusamus. Chillwave consectetur typewriter, ennui seitan retro blog nisi terry richardson aliqua bicycle rights. Dolore letterpress skateboard sed selvage bicycle rights magna, you probably haven't heard of them sapiente pinterest mcsweeney's minim seitan pour-over.</p>

	<p>Duis street art eiusmod scenester raw denim, banksy messenger bag synth craft beer id hoodie. Esse forage odio, excepteur gastropub american apparel raw denim cray reprehenderit next level. Jean shorts bushwick biodiesel, terry richardson skateboard do anim eu enim PBR. Incididunt aute ex, magna nihil umami thundercats accusamus elit marfa. Chambray locavore street art reprehenderit whatever, VHS irony polaroid magna synth. Proident sustainable gastropub, lomo exercitation ethical elit cupidatat pariatur next level. Art party godard cardigan, Austin twee aliqua ullamco assumenda.</p>
	<div id="missionImage"><img src="http://blogs.fasterskier.com/andynewell/files/2011/07/awesome-dude-is-awesome1.jpg
" alt=""></div>
</section>

<section id="teasers">
	<div class="tanlize">
		<img src="http://cbswzlx2.files.wordpress.com/2011/11/awesome-dude-is-awesome.jpg?w=309" alt="">
		<h1>
			blog place holder
		</h1>
		<p></p>
	</div>
	<div class="tanlize">
		<img src="http://cbswzlx2.files.wordpress.com/2011/11/awesome-dude-is-awesome.jpg?w=309" alt="">
		<h1>
			event place holder
		</h1>
		<p></p>
	</div>
	<div class="tanlize">
		<img src="http://cbswzlx2.files.wordpress.com/2011/11/awesome-dude-is-awesome.jpg?w=309" alt="">
		<h1>
			org placeholder
		</h1>
		<p></p>
	</div>
</section>